$darkColor: #1e2022;
$buttonHighColor: #52616b;
$buttonColor: #c9d6df;
$lightColor: #f0f5f9;
$compl1:#6914FF;
//backgrounds
.darkBg {
    background-color: $darkColor;
}
.lightBg {
    background-color: $lightColor;
}

.footer-bg{
    background-color: $compl1;
}
